.info
{
	margin-bottom: 30px;
}

header > p
{
	opacity: 0;
	color: rgb(243, 184, 75);
	padding-bottom: 0;
}

.info div
{
	width: 200px;
	border: 2px solid var(--textColor);
	color: var(--textColor);
}

main
{
	display: none;
}

.board
{
	width: 850px;
	margin: auto;
	display: flex;
    justify-content: space-between;
    align-items: center;
	box-sizing: border-box;
}
	
.hangman
{
	width: 50%;
	border: 4px double rgb(240, 169, 87);
	position: relative;
}

.hangman div
{
	content: 'LICZBA PRÓB: 10';
	position: absolute;
	top: 7px;
	left: 0;
	right: 0;
	height: 30px;
}

.word
{
	margin: 0 5px 30px 5px;
	font-size: 30px;
	letter-spacing: 10px;
}
	
.letters
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
	
.letters .letter
{
	padding: 10px;
	border: 2px solid var(--textColor);
	border-radius: 10px/26px;
	margin: 8px;
	width: 60px;
	box-sizing: border-box;
	background-color: rgba(117, 153, 70, 0.089);
	transition: all .1s ease-in-out;
}

.letters .letter:hover
{
	border-color: var(--secondary);
	background-color: rgba(161, 241, 56, 0.089);
	color: white;
	cursor: pointer;
}

.chosen
{
	border-color: rgb(255, 167, 66) !important;
	color: white !important;
	background-color: rgb(78, 88, 60);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(65, 91, 65, 1);
	-moz-box-shadow: 0px 0px 10px 3px rgba(65, 91, 65, 1);
	box-shadow: 0px 0px 10px 3px rgba(65, 91, 65, 1);
}

.good
{
	background-color: rgba(161, 241, 56, 0.192) !important;
	border-color: rgb(143, 212, 53) !important;
	opacity: 0.8;
	pointer-events: none;
}

.bad
{
	background-color: rgba(243, 41, 41, 0.192) !important;
	border-color: rgb(223, 61, 61) !important;
	opacity: 0.8;
	pointer-events: none;
}

.small-width 
{
	display: none;
}

@media only screen and (max-width: 850px) 
{
	main, header 
	{
		display: none !important;
	}
	.small-width
	{
		padding: 30px 30px 0 30px;
		display: block;
	}

}