#rounds 
{
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 150px;
    background: #616161;
    border-radius: 10px;
    border: 1px solid var(--secondary);
    outline: none;
    opacity: 0.8;
    transition: opacity .2s;
}
  
#rounds:hover 
{
    opacity: 1;
}

#rounds::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--secondary);
    cursor: pointer;
    border-radius: 50%;
}
  
#rounds::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--secondary);
    cursor: pointer;
    border-radius: 50%;
}

.result
{
    margin: auto;
    font-size: 24px;
    border: 2px solid var(--textColor);
    border-bottom: none;
    border-top-right-radius: 26px;
    border-top-left-radius: 26px;
    width: 200px;
    height: 30px;
    padding: 12px;
    background-color: #363636;
}

main
{
    display: none;
}

main > h3
{
    margin: 40px 5px 10px 5px;
}

.board
{
    width: 520px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--textColor);
    padding: 20px;
    border-radius: 20px;
}

.board .pc .fa-solid
{
    color: #f7c5a9;
}

.board .user .fa-solid
{
    color: #b8dfeb;
}

.board .user .fa-user
{
    border-right: 3px double var(--secondary);
    padding-right: 20px;
    color: #4accf3;
    margin-right: 50px;
}

.board .pc .fa-computer
{
    border-left: 3px double var(--secondary);
    padding-left: 20px;
    color: #ec8d4d;
    margin-left: 50px;
}


.board i:not(.fa-computer):not(.fa-user)
{
    display: none;
}

.fa-solid
{
    font-size: 60px;
}

i[class*='fa-hand']
{
    padding-left: 5px;
    padding-right: 5px;
}

.choice i[class*='fa-hand']
{
    transition: color .2s ease-in-out;
}

.choice i[class*='fa-hand']:hover
{
    opacity: 1;
    cursor: pointer;
    color: var(--secondary);
}

.end
{
	display: none;
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 360px;
    padding: 10px 20px 30px 20px;
    border: 3px solid var(--textColor);
    border-radius: 15px/26px;
    background-color: rgba(32, 32, 32, 0.966);

}

.small-width
{
    display: none;
}

@media only screen and (max-width: 600px) 
{
	main, header 
	{
		display: none !important;
	}
	.small-width
	{
		padding: 30px 30px 0 30px;
		display: block;
	}

}