@import 'variables';

.start-button
{
  @extend %button;
  margin: 0 auto;
}

div:has(.play-again)
{
  text-align: center;
  margin-top: 1rem;
  
  .play-again
  {
    background: none;
    border: none;
    color: $primary;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    transition: color .1s ease-in-out;
    
    &:hover
    {
      color: #fff;
    }
  }
}

.disabled
{
  pointer-events: none;
  opacity: .75;
}
