@import 'variables';

.options
{
  display: flex;
  flex-direction: column;
  align-items: center;

  button
  {
    @extend %button;
    min-width: 9rem !important;
    border-color: #fff;
    color: #fff;
    text-transform: uppercase;

    &.chosen
    {
      border-color: $secondary;
      pointer-events: none;
      box-shadow: 0 0 5px 0 $secondary;
      background-color: rgba($secondary, .1);
    }
  }
}

.disabled
{
  pointer-events: none;
  opacity: 0.7;
}

.info
{
  color: $secondary;
  text-align: center;
  margin-top: 1rem;
}

.status
{
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}